:root {
  background-color: rgb(101, 5, 255);
}

nav {
  background-color: darkgoldenrod;
  display: flex;
  border-radius: 1rem;
  outline: 1rem solid darkgoldenrod;
  font-weight: bolder;
  font-size: larger;
  padding: 1rem;
  align-content: center;
}

.nav-btn {
  margin-left: auto;
  font-size: large;
}

#add-project,#display-project,button {
  background-color: red;
  margin-left:1rem;
}

#add-project:hover,
#display-project:hover,
button:hover {
  font-weight: bolder;
  cursor:grab;
  background-color: rgb(246, 71, 71);
}

#add-project:active,
#display-project:active,
button:active {
  cursor: grabbing;
  background-color: rgb(155, 0, 0);
}

.displayProjectContainer,.displayTodoListContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 20px;
}

.displayIndividualProject,.displayIndividualTodoList {
  display:flex;
  flex-direction: column;
  outline: 5px solid azure ;
  background-color: rgb(172, 172, 172);
  height: 20rem;
  width: 20rem;
  justify-content: center;
  align-items: center;
}

p {
  display: flex;
  margin: .5rem;
}

.hidden {
  display: none !important;
}

.title {
  width: 100%;
  color: aliceblue;
  font-size: 3rem;
  display: flex;
}

.newProject {
  background-color: rgb(62, 61, 61,0.5);
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-class {
  display: flex;
  flex-direction: column;
  background-color: rgb(247, 182, 62);
  
  gap: 1rem;
}

input {
  margin-left: 1rem;
  margin-right: 1rem;
}

.form-button-class {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
}